@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600&display=swap');

html {
    background-color: rgba(55, 3, 0, 1);
}

body {
    margin: 0;
    font-family: 'Neucha', cursive;
    height: 100%;
    background-color: rgba(55, 3, 0, 1);
}
