@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Fredoka+One|Permanent+Marker|Sedgwick+Ave|Shadows+Into+Light');

body {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #FFF7E8;
    margin: 50px;
}